/* Barra lateral fija */
.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    height: 100vh;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #f1f1f1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

/* Estilo para todos los estados de los enlaces */
.sidebar ul li a:link,
.sidebar ul li a:visited {
    color: #fff; /* Color blanco para enlaces normales y visitados */
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #444;
    border-radius: 5px;
    padding-left: 15px;
    color: #fff; /* Asegúrate de que el color permanezca blanco al hacer hover */
}

.sidebar ul li a:active {
    color: #fff; /* Mantén el color blanco para enlaces activos */
}

.sidebar ul li a i {
    margin-right: 10px;
}

.footer {
    text-align: center;
    color: gray;
    font-size: 20px; 
}

.footer a {
    color: gray;
    text-decoration: none;
    line-height: 1.5; /* Aumenta el interlineado entre filas */
    display: block; /* Asegura que cada enlace esté en su propia línea */
    margin-bottom: 10px; /* Añade espacio entre las filas */
}

.footer a:hover {
    color: #ddd;
}
